/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.login-section {
    display: flex;              
    flex-direction: column;      
    justify-content: center;      
    align-items: center;         
    width: 100%;               
    padding: 20px;              
    border-radius: 8px;         
    background-color: white; 
	font-weight: bold;          
}

.login-section h2 {
    margin-bottom: 20px;
    color: #003F2E;
}

.form-group {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    height: 51px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #3D3D3D;
    text-decoration: underline;
    font-size: 14px;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

#login-btn {
    width: 179px;
    height: 36px;
    background-color: #003F2E;
    color: white;
    border: none;
    border-radius: 60px;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#login-btn:hover {
    background-color: #005f4f;
}

.edit-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 16px;
    color: #333;
    display: inline-flex;
    align-items: center;
}

.edit-button i {
    margin-right: 5px; /* Espacement entre l'icône et le texte */
    font-size: 20px; /* Taille de l'icône */
}

#instagram-img {
	height: 19.5px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    list-style: none;
    padding: 0;
}

.categories button {
    border: 2px solid #1D705D; /* Couleur de la bordure */
    background-color: transparent; /* Fond transparent */
    color: #1D705D; /* Couleur du texte */
    border-radius: 30px; /* Coins arrondis */
    padding: 8px 20px; /* Espacement interne */
    font-size: 16px; /* Taille de la police */
    font-family: 'Syne', sans-serif; /* Police personnalisée */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.categories button:hover {
    background-color: #1D705D; /* Fond vert foncé au survol */
    color: #ffffff; /* Couleur du texte blanche au survol */
}

.categories button.active {
    background-color: #1D705D; /* Fond vert foncé pour le bouton actif */
    color: #ffffff; /* Couleur du texte blanche pour le bouton actif */
}

/* Pour masquer la section des catégories si l'utilisateur est connecté */
.categories.hidden {
    display: none;
}

.portfolio-header {
    display: flex;
    align-items: center;
    gap: 10px; /* Ajuste l'espacement entre le titre et le bouton */
	justify-content: center; /* Centrer horizontalement le titre et le bouton */

}

.portfolio-header h2 {
    margin: 0; /* Supprime les marges par défaut */
    font-size: 24px; /* Ajuste la taille selon la maquette */
    font-weight: 700; /* S'assure que la police est épaisse */
}

.edit-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Ajuste la taille de la police */
    color: #333; /* Assurez-vous que la couleur correspond à la maquette */
}

.edit-button i {
    margin-right: 5px; /* Ajoute de l'espace entre l'icône et le texte */
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 8px;
    position: relative;
    text-align: center;
}

.modal-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 15px;
    margin-top: 20px;
    overflow-y: auto;
}

.modal-gallery figure {
    position: relative;
    margin: 0;
}

.modal-gallery img {
    width: 100%;
    height: auto;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.add-photo-button {
    margin-top: 20px;
    padding: 10px 20px;
	width: 237px;
    background-color: #007b5e;
    color: white;
    border: none;
    border-radius: 60px;
    cursor: pointer;
	font-family: syne;
}

.add-photo-button:hover {
    background-color: #00573a;
}

/* Icône de suppression */
.modal-gallery i.fa-trash-alt {
    position: absolute;
    top: 5px;
    right: 5px;
	background-color: black;
    color: #f1ecec;
	font-size: 0.8em; /* Réduit la taille de l'icône de la corbeille */
    padding: 3px;
    cursor: pointer;
	display: inline-flex; /* Aligne l'icône au centre du fond noir */
    align-items: center;
    justify-content: center;
}
#editModal .modal-content h2 {
    font-size: 26px; 
    color: #333;
    font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

